body {
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 98vh;
    min-width: 100vh;
    box-sizing: border-box;
}
#calculator {
    border: solid black 2px;
    height: 67vh;
    width: 100vh;
}
#display {
    border: solid rgb(255, 230, 0) 3px;
    height: 100px;
    margin: 2.5vh;
}
#buttons {
    border: solid rgb(115, 212, 236) 3px;
    height: 45vh;
    margin: 2.5vh;
}