body {
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 98vh;
    min-width: 100vh;
    box-sizing: border-box;
}
#calculator {
    border: solid black 2px;
    height: 67vh;
    width: 100vh;
    background-color: #788294;
}
#display {
    border: solid rgb(255, 230, 0) 3px;
    height: 100px;
    margin: 2.5vh;
}
#buttons {
    border: solid rgb(115, 212, 236) 3px;
    height: 45vh;
    margin: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 9px;
}
.number {
    margin: .5vh;
    height:8vh;
    border: none;
    width: 22vh;
    padding: 1vh;
    border-radius: 4px;
}
.opr {
    margin: .5vh;
    border: none;
    height:8vh;
    width: 22vh;
    padding: 1vh;
    border-radius: 4px;
    flex-wrap: wrap;
}
button {
    font-size: 24px;
}
#display {
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}