body {
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 98vh;
    min-width: 100vh;
    box-sizing: border-box;
    background-image: url("https://cdn.pixabay.com/photo/2022/01/14/06/53/education-6936596_960_720.jpg");
    background-size: cover;
}
#calculator {
    border: solid black 2px;
    height: 67vh;
    width: 460px;
    background-color: #788294;
    border-radius: 5px;
}
#buttons {
    height: 45vh;
    margin: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button {
    font-size: 24px;
    margin: .5vh;
    height:8vh;
    border: none;
    width: 12vh;
    padding: 1vh;
    border-radius: 4px;
}
#display {
    font-size: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #53d39e;
    height: 90px;
    margin: 2.5vh;
    border-radius: 5px;
    overflow-x: auto;
}
button:hover {
    cursor: pointer;
}
button:active {
    background-color: #cfcfcff8;
}
#display:hover {
    cursor: default;
}
#display::-webkit-scrollbar {
    width: 1em;
    height: 10px;
}
#display::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#display::-webkit-scrollbar-thumb {
    background-color: rgba(131, 131, 131, 0.534);
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.add, .subtract, .multiply, .divide {
    background-color: #c79fd1f8;
}
.clear:active {
    background-color: rgb(240, 65, 65);
}