body {
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 98vh;
    min-width: 100vh;
    box-sizing: border-box;
}
#calculator {
    border: solid black 2px;
    height: 67vh;
    width: 60vh;
    background-color: #788294;
}
#buttons {
    border: solid rgb(115, 212, 236) 3px;
    height: 45vh;
    margin: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button {
    font-size: 24px;
    margin: .5vh;
    height:8vh;
    border: none;
    width: 12vh;
    padding: 1vh;
    border-radius: 4px;
}
#display {
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #53d39e;
    height: 90px;
    margin: 2.5vh;
    border-radius: 8px;
}
button:hover {
    color: #ef476f;
}