body {
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 98vh;
    min-width: 100vh;
    box-sizing: border-box;
    background-color: black;
}
#calculator {
    border: solid rgb(12, 139, 0) 2px;
    height: 70vh;
    width: 460px;
    background-color: #788294;
    border-radius: 5px;
    background-image: url("https://media4.giphy.com/media/WoD6JZnwap6s8/giphy.gif?cid=ecf05e475cta83aqsfvwubgpslghm4nkes2ckd9nmn785f54&rid=giphy.gif&ct=g");
    box-shadow: rgba(0, 255, 0, 0.25) 0px 54px 55px, rgba(0, 255, 0, 0.12) 0px -12px 30px,
     rgba(0, 255, 0, 0.12) 0px 4px 6px,rgba(0, 255, 0, 0.17) 0px 12px 13px,
     rgba(0, 255, 0, 0.09) 0px -3px 5px;
}
#buttons {
    height: 45vh;
    margin: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button {
    font-size: 24px;
    margin: .5vh;
    height:8vh;
    border: none;
    width: 12vh;
    padding: 1vh;
    border-radius: 20px;

}
#display {
    font-size: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(32, 240, 170);
    height: 90px;
    margin: 2.5vh;
    border-radius: 5px;
    overflow-x: auto;
    color: black;
}
button:hover {
    cursor: pointer;
}
button:active {
    background-color: #06eb1980;
}
#display:hover {
    cursor: default;
}
#display::-webkit-scrollbar {
    width: 1em;
    height: 10px;
}
#display::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#display::-webkit-scrollbar-thumb {
    background-color: rgba(131, 131, 131, 0.534);
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.add, .subtract, .multiply, .divide {
    background-color: #009b1afd;
    color: white;
}
.clear:active {
    background-color: rgb(240, 65, 65);
}
.clear {
    background-color:  rgb(240, 65, 65);
}